.container {
    text-align: center;
    /* background-color: #0da7a7; */
    border: 2px solid black;
    padding: 50px;
}

.header {
    background-color: rgb(122, 122, 250);
    color: white;
    border: 1px solid red;
}

input {
    width: 100%;
}

#add {
    background-color: blue;
}

#tip {
    background-color: blue;
}

table,
th,
td {

    border: 2px solid black;
}

table {
    width: 100%;
    margin-top: 20px;
}

th,
td {
    width: 50%;
}

.input {
    background-color: bisque;
    border: 2px solid black;
    margin-top: 20px
}

.customerlist {
    margin-top: 20px;
}